<div class="jumbotron">
  <h1 alt="SlipPay"><span class="light">Slip</span><span class="dark">Pay</h1>
  <p class="lead"><strong>Stop getting shafted on Craigslist and eBay.</strong> Buy real receipts (or original packaging!) and return your items to the store for cash.</p>
</div>

<div class="row-fluid marketing">
  <div class="span12">
    <table class="table tabel-striped">
      <thead>
        <tr>
          <th>Overview</th>
          <th>Store</th>
          <th>Categories</th>
          <th>Purchased</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% Receipt.order(:sell_date).each do |receipt| %>
          <tr>
            <td><%= receipt.note %></td>
            <td><%= receipt.store %></td>
            <td><%= receipt.categories %></td>
            <td><%= "#{time_ago_in_words(receipt.sell_date)} ago" %></td>
            <td><%= receipt.total %></td>
            <td><a onclick="alert('Coming Soon!');return false;" href="#">Contact Seller</a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="row-fluid marketing">
  <div class="span6">
    <img class="img-polaroid" src="/assets/shoeboxed-promo.jpg"/>
  </div>

  <div class="span6">
    <h4>How It Works</h4>
    <p>SlipPay is a receipt marketplace where you can buy and sell cash-based receipts. We connect with your <a target="_blank" href="https://www.shoeboxed.com/">Shoeboxed</a> account&mdash;a smart receipt manager that you can download for a smartphone, or access on the web. Once you connect your account, we anonymously posts your receipts in the marketplace for 30 days.</p>
    <p>Buyers can use the <strong>receipt search</strong> (coming soon!) to find what they need, and we connect the buyer-to-seller.</p>

    <h4>Who Uses It</h4>
    <p>A buyer owns an item from a local store, but either threw out their receipt, or their return policy window has passed. A seller paid cash for their item, and is happy to sell their receipt, enabling the buyer to return their item for the full amount. Simple, right?</p>

  </div>
</div>

<hr>

<div class="jumbotron">
  <p class="lead">Sell the receipts for products you just bought so others can return the ones they no longer need. <strong>Say goodbye to the 30-day return policy.</strong></p>
  <a class="btn btn-large btn-info" style="background-image:none;background-color:#00a9e1;" href="<%= @auth_url %>">Connect with Shoeboxed</a>
  <br><br>
  <p><small>No Account? <a target="_blank" href="https://www.shoeboxed.com/">Sign Up Now</a></small></p>
</div>